body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px; 
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px; /* Added this to restrict the width and center content */
    margin: 0 auto; /* Centers the container */
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 40px;
}

.visualization {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#choropleth_map {
    position: absolute;
    top: 120px;
    bottom: 120px;
    left: 120px;
    right: 120px;
}
